.Answers{
    background-color: purple;
  font-size: 45px;
}
#Start{
font-size: 55px;
background-color: red;
}
#questions{
    font-size: 60px;
    background-color: white;
}
#introduction{
    font-size:30px;
}